/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
	height: 100%;
}

a {
	background: none;
}

a:hover {
	background: none;
}

.caret {
	margin: 8px 0 0 5px;
} 

.boxart {
	float: left;
	margin: 15px 15px 15px 0;
}

.products {
	border-right: 2px solid #ECF0F1;
	height: 430px;
	padding: 15px 25px 15px 5px;
	margin: 10px;
	display: inline;
	float: left;
}

.products span {
	font-size: 24px;
	font-weight: bold;
	color: #C0392B;
}

.products img {
	max-height: 184px;
	margin: 10px 0 15px 0;
}

.onsale {
	float: left;
	display: inline;
	margin-bottom: 15px;
}

.onsale img {
	margin: 10px 0 15px 0;
	max-height: 184px;
}

.onsale small {
	display: block;
}

.onsale span {
	display:block;
	font-size: 20px;
	color: #2ECC71;
}

form#contact input {
	width: 100%;
}

form#contact textarea {
	 width: 100%;
	 height: 260px;
}

div#wrap {
	margin-top: 80px;
}

nav#nav-main {
	margin-bottom: 40px;
}

nav#nav-main li {
	font-size: 14px;
}

section#member-area {
	margin-top: 5px;
}

button#shopping-cart {
	background: #16A085;
	float: left;
	font-size: 12px;
}

button#shopping-cart:hover {
	background: #1ABC9C;
}

button#checkout {
	background: #27AE60;
	font-size: 12px;
	float: left;
	margin-left: 5px;
}

button#checkout:hover {
	background: #2ECC71;
}

header#header-main {
	padding: 80px 0 15px 15px;
	background: #FFF;
	border-bottom: 2px solid #ECF0F1;
	margin-bottom: 25px;
}

header#header-main img {
	float: left;
	position: relative;
	top: -5px;
	margin-right: 10px;
}

header#header-main h1 {
	font-size: 32px;
	float: left;
	padding-top: 15px;
	color: #34495E;
}

header#header-main h1 span {
	display: block;
	margin-top: -10px;
	font-size: 14px;
	color: #95A5A6;
	font-weight: normal;
}

div#search {
	float: left;
	position: relative;
	top: 20px;
	left: 120px;
	display: inline;
}

div#search input {
	padding: 10px;
	margin-bottom: 10px;
	float: left;
	display: inline;
}

section#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 85px;
}

section#featured {
	margin: 0 0 25px -15px;
	padding: 15px;
	background: #ECF0F1;
}

img#onsale {
	position: relative;
	top: -23px;
	left: 799px;
	float: left;
}

section#body {
	padding: 15px;
	margin-left: 15px;
}

section#content p {
	line-height: 25px;
}

section#content h2 {
	border-bottom: 2px solid #ECF0F1;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

section#content h2 small {
	margin: 0 0 25px 15px;
	font-size: 13px;
}

.employee {
	margin-bottom: 20px;
	overflow: hidden;
}

.employee small {
	font-weight: bold;
	display:block;
	margin-top: 10px;
}

.employee img {
	max-width: 94px;
	margin: 10px 10px 0 0;
	float: left;
	border: 4px solid #ECF0F1;
}

aside#sidebar {
	background: #ECF0F1;
	border-left: 2px solid #BDC3C7;
	padding: 20px;
	margin: 0 15px 0 -15px;
	min-height: 100%;
	height: 100%;
	height: auto !important;
}

aside#sidebar hr {
	border-top: 1px solid #BDC3C7;
}

aside#sidebar ul {
	margin-left: 0;
}

aside#sidebar li {
	margin-top: 15px;
}

aside#sidebar ul li {
	list-style-type: none;
}

form#newsletter .btn {
	font-size: 12px;
}

.push {
	height: 120px;
}

footer#footer-main {
	background: #ECF0F1;
	padding: 25px 0 0 0;
	height: 120px;
}