<h2>Latest Games <small>The best games available to date</small></h1>

<% @products.each do |product| %>
<article id="product">
    <h5><%= product.name %></h5>
    <p><%= product.price %></p>
    <% if (product.stock_quantity > 0) %>
        <p>Stock: <%= product.stock_quantity %></p>
    <% else %>
        <p>Out of stock!</p>
    <% end %>
    <%= link_to 'View', product %>
<% end %>

