	<h4>Check out our weekly newsletter</h4>
	<p>Want the latest and greatest video game deals sent directly to your email? sign up for our awesome newsletter.</p>
	<form id="newsletter">
		<input class="span3" type="text" placeholder="Your Email">
		<button type="submit" class="btn">Sign up!</button>
	</form>
	<hr />
	<h4>Store Hours</h4>
	<p>Applies to all Dartmouth, Nova Scotia retail locations.</p>
	<ul>
		<li><b>Monday - Friday</b>:<br /> 10:00am - 9:00pm</li>
		<li><b>Saturday</b>:<br /> 10:00am - 7:00pm</li>
		<li><b>Sunday</b>:<br /> 11:00am - 6:00pm</li>
	</ul>